
Fenergo.Ui/.vs/Fenergo.Ui/config/applicationhost.config
Fenergo.Ui/.vs/Fenergo.Ui/v16/.suo
Fenergo.Ui/.vs/Fenergo.Ui/v16/Server/sqlite3/db.lock
Fenergo.Ui/.vs/Fenergo.Ui/v16/Server/sqlite3/storage.ide
Fenergo.Ui/.vs/Fenergo.Ui/v16/Server/sqlite3/storage.ide-shm
Fenergo.Ui/.vs/Fenergo.Ui/v16/Server/sqlite3/storage.ide-wal
Fenergo.Ui/Fenergo.Ui.sln.DotSettings.user
Fenergo.Ui/Fenergo.Ui/App_Data/aspnet-Fenergo.Ui-20200612093546.mdf
Fenergo.Ui/Fenergo.Ui/App_Data/aspnet-Fenergo.Ui-20200612093546_log.ldf
