@model dynamic

@{
    ViewBag.Title = "Edit Item";
}

<h2>Edit Item</h2>

<form>
    <div class="form-group">
        <label>Description</label>
        <input type="text" value="" class="form-control" id="tbDescription" name="tbDescription" required />
    </div>
    <div class="form-group">
        <label>Serial Number</label>
        <input type="text" value="" class="form-control" id="tbSerialNumber" name="tbSerialNumber" required />
    </div>
    <div class="form-group">
        <label>Purchase Price</label>
        <input type="text" value="" class="form-control" required type="number" id="tbPurchasePrice" name="tbPurchasePrice" />
    </div>
    <div class="form-group">
        <label>Hardware Type</label>
        <ul id="hardwareTypes" name="hardwareTypes" class="list-group"></ul>
    </div>
    <div class="form-group">
        <label>Photo</label>
        <input type="text" value="" class="form-control" />
    </div>
    <button class="btn btn-submit" type="submit"></button>
</form>

@section scripts{
    <script>
        var hardwareTypes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/hardwareTypes?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead({minLength: 3, highlight: true},
            {
                name: 'hardwareTypes',
                display: 'name',
                source: hardwareTypes
            }).on("typeahead:select", function(e, hardwareType) {
            vm.hardwareTypeId = hardwareType.Id;
            });


    </script>
}
