@model dynamic

@{
    ViewBag.Title = "Manage Hardware";
}

<h2>Manage Hardware</h2>

<table id="hardware" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Description</th>
            <th>Hardware Type</th>
            <th>Serial Number</th>
            <th>Photo</th>
            <th>Purchase Price</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#hardware").DataTable({
                ajax: {
                    url: "/api/hardwares",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "description",
                        render: function(data, type, item) {
                            return "<a href='/hardwares/edit/" + item.id + "'>" + item.description + "</a>";
                        }
                    },
                    {
                        data: "hardwareType.name"
                    },
                    {
                        data: "serialNumber"
                    },
                    {
                        data: "photo.fileName"
                    },
                    {
                        data: "purchasePrice"
                    }
                    ]
            });
        })
    </script>
}
